body{
    background-color: #FFC312;
    
}
*{
    transition: 0.5s ease-in-out
}
section{
    background-image: linear-gradient(527deg, rgba(0, 0, 0, 0.4) 50%, #FFC312 50.09%);
    height: 120vw;
    position: relative;
}
.wise{
    background-color: inherit !important;
    z-index: 1;
}
.btn{
    background-color: #FFC312
}
.hero-text{
    position: absolute;
    top:20%;
    left:10%;
    width:60%;
    color: #FFC312;
}
.hero-text h1{
    font-size: 6.5vw;
    font-weight: bolder;
    padding: 0;
    margin-top: -20px;
}
.hero-text h5{
    font-size: 2.4vw;
    font-weight: 200;
    width: 80%
}
.hero-text button{
    border-radius: 90px !important;
    color: black;
    font-weight: bold !important
}
.items-wrapper{
    position: absolute;
    top:68%;
    padding:0 10%;
}
.item{
    height:30vw;
    background-color: #1B1B1C;
    width: 32%;
    position: relative;
    color: #FFC312;
}
.item-inner{
    position: absolute;
    transform: translateY(-50%);
    top:52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:0 1vw
}
.item-inner p{
    text-align: center;
    font-size: 1.5vw;
    width: 100%
}
.item-inner h2{
    font-size: 2.5vw;
    font-weight: 500;
}
.inner-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width:8vw;
    border-radius: 50%;
}
.ico{
    padding:1.8vw 1.8vw
}
main{
    background-color: rgba(0, 0, 0, 0.66);
    padding-right:10%;
    padding-top:8%;
    padding-bottom: 8%;
}
.main-intro{
    width:100%;
}
.main-intro p{
    width:90%;
}
.main-intro h1{
    width:100%;
    font-size: 3.2vw;
}
.main-wrapper{
    width:50%;
    margin-left:auto;
    color: #FFC312;
}
.main-wrapper p{
    color:white;
    font-size: 15px;
}
.main-flex{
    padding-right:10%;
}
.main-flex-item{
    width:46%;
    margin-bottom: 25px;
}
.circle-div{
    height: 90vw;
    padding: 10% 5%;
}
.circle-main{
    position: relative;
    height:50vw
}
.circle-border{
    transform: translate(-50%,-50%);
    position: absolute;
    top:50%;
    left:50%;
    width:45vw;
    height: 45vw;
    border-radius: 50%;
    border: 4px dashed black;
}
.around-circle{
    width: 220px;
}
.around-intro{
    width:220px;
    
}
.first{
    text-align: right;
    top:16%;
    left:16%;
    position: absolute;
    transform: translate(-50%,-50%)
}
.second{
    text-align: right;
    top:50%;
    left:11%;
    position: absolute;
    transform: translate(-50%,-50%)
}
.third{
    text-align: right;
    top:85%;
    left:16%;
    position: absolute;
    transform: translate(-50%,-50%)
}
.fourth{
    text-align: left;
    top:16%;
    left:84%;
    position: absolute;
    transform: translate(-50%,-50%)
}
.fifth{
    text-align: left;
    top:50%;
    left:89%;
    position: absolute;
    transform: translate(-50%,-50%)
}
.sixth{
    text-align: left;
    top:85%;
    left:84%;
    position: absolute;
    transform: translate(-50%,-50%)

}
.dark-section{
    background-color: #1B1B1C;
    padding: 10vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-intro p{
    color: #FFC312;
    font-size: 1.4vw;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
}
.card-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 50px;
}
.last-item{
    position: relative;
    width:15.5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:15px 20px;
    border-radius: 28px;
}
.overlay{
    background-color: #1B1B1C;
    opacity: 0.5;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}
.last-item p{
    font-size: 8.4px;
}
.last-item h2{
    font-size: 1.5vw;
}
.last-item:hover{
    transform: scale(1.5);
    z-index:3
}
.last-item:hover .overlay{
    opacity: 0;
    box-shadow: 5px 5px 10px rgb(255, 255, 255), -5px -5px 10px rgb(255, 255, 255);
    transition: 0.5s ease-in-out
}
.end{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20% 30px;
}
.end-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
}
.end-intro h1{
    font-size: 3.5vw
}
.end-intro p{
    width: 70%;
    font-size: 1vw;
}
footer{
    background-color: #1B1B1C;
}
.main-footer-div{
    display: flex;
    align-items: baseline;
    padding:50px 30px;
    color: white
}
ul{
    margin:0;
    padding: 0
}
.footer-links ul li{
    float: left;
    margin-left: 20px;
    list-style: none;
    margin-top: 10px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
}
.footer-icons{
    margin-left:10vw
}
.footer-icons i{
    margin-left:2vw;
    color:white;
    font-size: 1.5vw !important
}
.footer-right-wrapper{
    display: flex;
    margin-left:30vw;
}
@media only screen and (max-width:601px){
    .hero-text h1{
        margin-top: -10px;
        padding-bottom: 0 !important
    }
    .hero-text button{
        border-radius: 90px !important;
        color: black;
        font-weight: bold !important;
        font-size: 2vw;
    }
    .hero-text{
        top:25%;
    }
    .hero-text h5{
     padding-bottom: 0 !important
    }
    .item{
        height:180px;
        width: 46%;
    }
    .d-flex{
        justify-content: space-evenly !important;
    }
    .items-wrapper{
        padding:0 5% !important;
    }
    section{
        background-image: linear-gradient(527deg, rgb(100, 71, 7) 50%, rgba(209, 162, 7, 0.89) 50.09%);
        height: 300vw;
        position: relative;
    }
    .items-wrapper{
        position: absolute;
        top:58%;
        padding:0 10%;
    }
    .item-inner p{
        text-align: center;
        font-size: 2.5vw;
        width: 100%
    }
    .inner-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width:15vw;
        border-radius: 50%;
    }
    .ico{
        padding:3vw 3vw
    }
    .item-inner{
        position: absolute;
        transform: translateY(-50%);
        top:55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding:0 1.5vw
    }
    .item-inner h2{
        font-size: 4vw;
        font-weight: 500;
    }
    main{
        background-color: rgba(0, 0, 0, 0.66);
        padding:8% 10px;
    }
    .main-intro{
        width:100%;
    }
    .main-intro p{
        width:100%;
        font-size: 14px;
        text-align: center;
    }
    .main-intro h1{
        width:100%;
        font-size: 5vw;
        text-align: center;
    }
    .main-wrapper{
        width:100%;
        margin: 0 auto;
        color: #FFC312;
    }
    .main-wrapper p{
        color:white;
        font-size: 14px;
    }
    .main-flex{
        padding-right:0;
    }
    .main-flex-item{
        width:42%;
        margin-bottom: 25px;
    }
    .around-circle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .around-intro{
        text-align: center;
    }
    .first{
        text-align: center !important;
        top:0% !important;
        left:0% !important;
        position: static !important;
        transform: none    }
    .second{
        text-align: center !important;
        top:0% !important;
        left:0% !important;
        position: static !important;
        transform: none    }
    .third{
        text-align: center !important;
        top:0% !important;
        left:0% !important;
        position: static !important;
        transform: none    }
    .fourth{
        text-align: center !important;
        top:0% !important;
        left:0% !important;
        position: static !important;
        transform: none    }
    .fifth{
        text-align: center !important;
        top:0% !important;
        left:0% !important;
        position: static !important;
        transform: none    }
    .sixth{
        text-align: center !important;
        top:0% !important;
        left:0% !important;
        position: static !important;
        transform: none    
    }
    .circle-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350vw;
        padding: 15% 5%;
    }
    .circle-border{
        display: none;
    }
    .circle-feature{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .circle-feature p{
        width: 100% !important;
        font-size: 13px;
    }
    .card-intro{
        width: 100% !important;
        margin-bottom: 50px;
        padding: 20px 30px
    }
    .dark-section{
        height: auto;
        padding:30px 22%;
    }
    .card-intro h1{
        font-size: 4vw;
    }
    .card-intro p{
        width: 80vw !important;
        font-size: 11px;
        text-align: center;
    }
    .last-item{
        width:100%;
        padding:20px 20px;
        margin-bottom: 90px;
    }
    .last-item h2{
        font-size: 6vw;
    }
    .last-item p{
        font-size: 14px
    }
    .end-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
    }
    .end-intro h1{
        font-size: 6vw;
    }
    .end-intro p{
        font-size: 12px;
    }
    .main-footer-div{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding:50px 30px;
        color: white
    }
    .footer-links ul li{
        float: left;
        margin-left: 0 !important;
        list-style: none;
        margin-top: 10px;
        font-size: 12px
    }
    .footer-links{
        width: 100vw;
        padding:0 !important;
        margin: 0 0 30px 0 !important;
    }
    ul{
        padding: 0 !important;
        display: flex;
        margin:0 !important;
        justify-content: space-evenly !important;
        align-items: center !important
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
    }
    .footer-icons{
        width: 100vw;
        margin-left:0;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer-icons i{
        margin-left:2vw;
        color:white;
        font-size: 25px !important
    }
    .footer-right-wrapper{
        display: flex;
        order: 1;
        text-align: center;
        flex-direction: column;
        margin-left:0 ;
        justify-content: center !important;
        align-items: center !important
    }
}
@media only screen and (max-width:1022px){
    @media screen and (min-width:690px){
        .around-circle{
            width: 170px;
        }
        .around-intro{
            width:160px;
            
        }
        .around-intro h3{
            font-size:20px;
        }
        .around-circle p{
            font-size:13px;
        }
        .first{
            text-align: right;
            top:16%;
            left:15%;
            position: absolute;
            transform: translate(-50%,-50%)
        }
        .second{
            text-align: right;
            top:50%;
            left:10%;
            position: absolute;
            transform: translate(-50%,-50%)
        }
        .third{
            text-align: right;
            top:85%;
            left:15%;
            position: absolute;
            transform: translate(-50%,-50%)
        }
        .fourth{
            text-align: left;
            top:16%;
            left:85%;
            position: absolute;
            transform: translate(-50%,-50%)
        }
        .fifth{
            text-align: left;
            top:50%;
            left:90%;
            position: absolute;
            transform: translate(-50%,-50%)
        }
        .sixth{
            text-align: left;
            top:85%;
            left:85%;
            position: absolute;
            transform: translate(-50%,-50%)
        
        }
        .last-section{
            justify-content: space-evenly !important;
        }
        .last-item{
            width:25.5%;
            height: 220px;
            padding:40px 20px;
            margin-bottom: 90px;
        }
        .main-wrapper p{
            color:white;
            font-size: 12px;
        }
        .main-footer-div{
            display: flex;
            align-items: baseline;
            padding:50px 30px;
            color: white
        }
        .footer-links ul li{
            float: left;
            margin-left: 20px;
            list-style: none;
            margin-top: 2.5vw;
            font-size: 15px
        }
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            text-decoration: none;
        }
        .footer-icons{
            margin-top: 1.5vw;
            margin-left:5vw
        }
        .footer-icons i{
            margin-left:2vw;
            color:white;
            font-size: 26px !important
        }
        .footer-right-wrapper{
            display: flex;
            margin-left:10vw;
        }    
    }
}